.box {
  height: 250px;
  width: 400px;
  text-align: justify;
  background-color: teal;
  border-style : dotted solid double dashed;
  padding: 50px 100px;
  margin: 30px 70px;
  font-size: medium;
  font-style: italic;
  font-variant: initial;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius:50px; /* shapes changes*/
}

