* {
    margin: 0;
    padding: 0;
}

.flex-container {
    width: 40%;
    height: 495px;
    background-color: rgb(255, 255, 255);
    border: 3px solid;
    margin-left: 100px;
    position: relative;
    right: 7px;;
    top: 25px;
   
    
}

.flexBox{
    width: 51%;
    height: 450px;
    background-color: black;
    transform: rotate(45deg);
    border-radius: 31px;
    position: absolute;
    z-index: 1;
    right:160px;
    top: 25px;
   
}
.flexBoxcone{
    width: 40%;
    height: 221px;
    background-color: black;
    border-radius: 40px;
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
    right: 52px;
    top: 2px;
   
}
.flXBox1{
    width: 11%;
    height: 215px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
    right: 121px;
    top: 291px;
}
.flXBox2{
    width: 11%;
    height: 62px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
    right: 106px;
    top: 62px;
}