* {
    margin: 0;
    padding: 0;
}

.slidesection1 {
    height: 100vh;
    /* background: red; */
    box-sizing: border-box;
    padding: 35px;
    position: relative;
}

/* .bg-image {
    /* Add the blur effect */
/* background-image:url(./amsterdam.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    filter: blur(1px);
    -webkit-filter: blur(1px);
} */
/* margin top minus(-) */
.slide-bg-bluesection {
    color: white;
    background: #f0f4f7;
}

.slidesection1 p {
    margin: 0;
    padding: 0;
}

.tempaddheader {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.headerflx {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 20%;
    color: white;
}

.headerflx-align {
    width: 10%;
    height: 50%;
}

.hdbtnlink {
    color: white;
    text-decoration: none;
    font-size: x-large;
}

.hdbtnadd {
    color: white;
    background-color: rgb(244, 81, 81);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
}

.frm-fld-row {

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-field {
    /* width: 100%;
    height: 50%; */
}

.form-control {
    padding: 10px;
}

.btnsearch {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.logsym {
    width: 10%;
    height: 50%;
    position: absolute;
    z-index: 1;
    right: 1214px;
    top: -7px;
}

.logimg {
    width: 10%;
    height: 50%;
    position: absolute;
    z-index: 1;
    right: 1249px;
    top: -3px;
    border-radius: 10px;
}

.headerbtnadd {
    width: 10%;
    height: 50%;
    position: absolute;
    z-index: 1;
    right: 57px;
    top: -2px;
    border-radius: 10px;
}

.justify-content-center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
    color: white;
}

.justify-content-center h1 {
    font-size: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.justify-content-center p {
    text-align: center;
}

.ctn-row {
    display: flex;
    /* height: 600px; */
    flex-wrap: wrap;
    align-content: stretch;
    /* background-color: DodgerBlue; */
}

/* .ctn-row > div
{
    background-color:  #ffffff;
    width: 10%;
    height: 10%;
    margin:10px;
    text-align: center;
    line-height: 75px;
    
} */
.jsty-cont-center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.item1 {
    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    margin-top: -70px;
    border-radius: 5px;
}

.item1 :hover {
    background-color: rgb(244, 81, 81);
}

.item1 h2 {
    color: black;
    font-size: 15px;
}

.item1 p {
    color: rgb(107, 105, 105);
    font-size: 15px;
}

.item2 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    margin-top: -70px;
    border-radius: 5px;
    background-color: rgb(244, 81, 81);
}

.item3 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    margin-top: -70px;
    border-radius: 5px;
}

.item3 :hover {
    background-color: rgb(244, 81, 81);
}

.item4 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    margin-top: -70px;
    border-radius: 5px;
}

.item4 :hover {
    background-color: rgb(244, 81, 81);
}

.item5 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    margin-top: -70px;
    border-radius: 5px;
}

.item5 :hover {
    background-color: rgb(244, 81, 81);
}

.item6 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    margin-top: -70px;
    border-radius: 5px;
}

.item6 :hover {
    background-color: rgb(244, 81, 81);
}

.item7 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    border-radius: 5px;
}

.item7 :hover {
    background-color: rgb(244, 81, 81);
}

.item8 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    border-radius: 5px;
}

.item8 :hover {
    background-color: rgb(244, 81, 81);
}

.item9 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    border-radius: 5px;
}

.item9 :hover {
    background-color: rgb(244, 81, 81);
}

.item10 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    border-radius: 5px;
}

.item10 :hover {
    background-color: rgb(244, 81, 81);
}

.item11 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    border-radius: 5px;
}

.item11 :hover {
    background-color: rgb(244, 81, 81);
}

.item12 {

    background-color: #ffffff;
    width: 15%;
    height: 10%;
    margin: 10px;
    text-align: center;
    line-height: 115px;
    border-radius: 5px;
}

.item12 :hover {
    background-color: rgb(244, 81, 81);
}

/* .product-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.contentbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 30px;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    width: 200px;
    height: 350px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
}

.product-card img {
    width: 100%;
    border-radius: 4px;

}

.product-card img:hover {
    opacity: 0.5;
}

.sect-3 {
    background: #f0f4f7;
}


.sect-5-page {
    background: #f0f4f7;


}

.contentbox-sect5-pg {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.order1-sect {
    display: flex;
}

.sect-4-page {
    background: #f0f4f7;
    padding: 30px;
}

.contentbox-sect4-pg {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.imgdiv {
    width: 23%;
}

.contdiv {
    width: 61%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(244, 81, 81);
    color: #fff;
}

.fontdiv {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pbtn p {
    background-color: black;
    width: 200px;
    height: 50px;
    border-radius: 5px;
}

.pbtn a {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px;
}

.jsty-cont-center2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sect-6-page {
    background-color: #fff;
}

.sect-containbox6 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 30px;
}

.subsect-cntBox {
    display: flex;
    flex-direction: column;
    /* width: 60%; */
    padding: 30px;
}

.pyramidsect {
    /* width: 30%; */
}

.flexbxsect1 {
    height: 50px;
    color: rgb(244, 81, 81);
    font-weight: bolder;
    text-transform: uppercase;
}

.flexbxsect2 {
    height: 50px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flexbxsect3 {
    width: 70%;
    height: 200px;
    text-align: justify;
}

.splitrowsect {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 20%;
    justify-content: space-between;
}

.boxcont1 {
    background-color: #cac5c5;
    height: 20%;
}

.boxcont2 {
    background-color: #cac5c5;

}

.boxcont3 {
    background-color: #cac5c5;
    height: 20%;
}

.boxcont4 {
    background-color: #cac5c5;
    height: 20%;
}

.sect-page7 {
    background: #f0f4f7;
}

.sect7-containbox7 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

.jsty-cont-cent7 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slideshow-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: justify;
    background-color: #fff;
    padding: 30px;
}

.mySlides1 {
    width: 33.333%;
    height: 20%;
    /* border: 2px solid rgb(165, 163, 163); */
    display: flex;
    flex-direction: column;
    word-break: keep-all;
}

.mySlides2 {
    width: 33.333%;
    height: 10%;
    /* border: 2px solid rgb(165, 163, 163); */
    display: flex;
    flex-direction: column;
}

.mySlides3 {
    width: 33.333%;
    height: 10%;
    /* border: 2px solid rgb(165, 163, 163); */
    display: flex;
    flex-direction: column;
}



/* 
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
/* 
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
/* .dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/* @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
} */

/* .single-movie {
    width: 250px;
    height: 370px;
    float: left;
} 

.single-movie img {
    position: absolute;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.single-movie img:hover {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
}

.description {
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    padding: 5px 9px;
    position: relative;
    top: 290px;
}

.movie_title {
    font-size: 22px;
}

.rating {
    color: #ff6000;
    font-size: 18px;
} */