<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Directone Template</title>
    <link rel="stylesheet" href="in.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700&display=swap"
        rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/fontawesome.min.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

    </style>

</head>

<body>
    <div class="tempaddheader">
        <div>
            <p class="con"><span style="color: red;">Free Call</span> <span style="color: white;">+1 234 456
                    78910</span></p>
        </div>
        <div>
            <p class="con">&amp;<a style="color: dimgray; text-decoration: none;font-weight:bold;" href="#">.
                    Facebook</a>&amp; <a style="color: dimgray; text-decoration: none;font-weight:bold;" href="#">.
                    Twitter</a>&amp; <a style="color: dimgray; text-decoration: none;font-weight:bold;" href="#">.
                    Dribbble</a></p>
        </div>
    </div>
    <section class="slidesection1" style="background-image:url(./twilight.jpeg)">
        <nav>
            <div class="headerflx">
                <div class="logimg"><img src="log-symb.PNG" /></div>
                <div class="logsym"><a class="hdbtnlink" href="index.html">
                        <h3>Directone</h3>
                        <P style="font-size: xx-small;">DIRECTORY AND LISTINGS</P>
                    </a></div>
                <div class="headerflx-align"><a class="hdbtnlink" href="index.html">Home</a></div>
                <div class="headerflx-align"><a class="hdbtnlink" href="about.html">About</a></div>
                <div class="headerflx-align"><a class="hdbtnlink" href="listing.html">Listing</a></div>
                <div class="headerflx-align"><a class="hdbtnlink" href="blog.html">Blog</a></div>
                <div class="headerflx-align"><a class="hdbtnlink" href="contact.html">Contact</a></div>
                <div class="headerbtnadd"><button class="hdbtnadd" href="#"> + ADD LISTING </button></div>
            </div>
        </nav>
        <div class="justify-content-center">
            <div class="col-lg-9">
                <h1 class>Let's Explore Your Awesome City</h1>
                <p>Find great places to stay, eat, shop, or visit from local experts.</p>
            </div>
        </div>
        <div class="frm-fld-row">
            <div>
                <input type="text" class="form-control" placeholder="What are you looking for?">
            </div>
            <div>
                <input type="text" class="form-control" placeholder="Search Location">
            </div>
            <div>
                <select name id class="form-control">
                    <option value>All Categories</option>
                    <option value>Food &amp; Drinks</option>
                    <option value>Hotel</option>
                    <option value>Shopping</option>
                    <option value>Beauty</option>
                    <option value>Fitness</option>
                    <option value>Bar &amp; Club</option>
                    <option value>Games</option>
                    <option value>Places</option>
                    <option value>Circus</option>
                    <option value>Theater</option>
                    <option value>Sports</option>
                    <option value>Health</option>
                </select>
            </div>
            <div>
                <a href="#" style="background-color: rgb(243, 75, 75);" class="form-control" class="btnsearch">
                    Search</a>
            </div>

        </div>
    </section>

    <section class="slidesection1 slide-bg-bluesection">
        <div class="contain">
            <div class="ctn-row">
                <div class="item1">
                    <h2 class="fa-solid fa-burger" style="color: black;
                    font-size: 15px;"> Food &amp; Drink</h2>
                    <p><span>103</span> Listings</p>
                </div>
                <div class="item2">
                    <h2 class="fa-solid fa-hotel" style="color: black;
                    font-size: 15px;"> Hotels</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>40</span> Listings</p>
                </div>
                <div class="item3">
                    <h2 class="fa-solid fa-cart-shopping" style="color: black;
                    font-size: 15px;"> Shopping</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>100</span> Listings</p>
                </div>
                <div class="item4">
                    <h2 class="fa fa-eye" style="color: black;
                    font-size: 15px;"> Beauty</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>36</span> Listings</p>
                </div>
                <div class="item5">
                    <h2 class="fas fa-dumbbell" style="color: black;
                    font-size: 15px;"> Fitness</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>30</span> Listings</p>
                </div>
                <div class="item6">
                    <h2 class="fas fa-glass-cheers" style="color: black;
                    font-size: 15px;"> Bar &amp; Club</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>12</span> Listings</p>
                </div>
                <div class="item7">
                    <h2 class="fas fa-gamepad" style="color: black;
                    font-size: 15px;"> Games</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>103</span> Listings</p>
                </div>
                <div class="item8">
                    <h2 class="fas fa-map-marked-alt" style="color: black;
                    font-size: 15px;"> Places</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>40</span> Listings</p>
                </div>
                <div class="item9">
                    <h2 class="fas fa-campground" style="color: black;
                    font-size: 15px;"> Circus</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>100</span> Listings</p>
                </div>
                <div class="item10">
                    <h2 class="fas fa-film" style="color: black;
                    font-size: 15px;"> Theater</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>36</span> Listings</p>
                </div>
                <div class="item11">
                    <h2 class="fas fa-futbol" style="color: black;
                    font-size: 15px;"> Sports</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>30</span> Listings</p>
                </div>
                <div class="item12">
                    <h2 class="fas fa-medkit" style="color: black;
                    font-size: 15px;"> Health</h2>
                    <p style=" color:rgb(107, 105, 105);
                    font-size: 15px;"><span>12</span> Listings</p>
                </div>
            </div>
        </div>

    </section>
    <section class="sect-3">
        <div class="container-2">
            <div class="jsty-cont-center">
                <div class="heading-section ">
                    <p style="text-align: center;">Our Listing</p>
                    <h1 style="font-size: 40px;">Popular Listing</h1>
                </div>
            </div>

            <div class="contentbox">

                <div class="product-card"><img src="img-1.PNG" />
                    <span class="subheading">Beauty</span>
                    <h3><a href="#">Japanese Restaurant</a></h3>
                    <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                    <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                    <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                            class="ico ion-ios-star"></span><small>(100)</small></p>
                </div>
                <div class="product-card"><img src="img-2.PNG" />
                    <span class="subheading">Bar &amp; Club</span>
                    <h3><a href="#">Harbor Lights Hotel</a></h3>
                    <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                    <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                    <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                            class="ico ion-ios-star"></span><small>(100)</small></p>
                </div>
                <div class="product-card"><img src="img-3.PNG" />

                    <span class="subheading">Circus</span>
                    <h3><a href="#">MS Center Mall of Asia</a></h3>
                    <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                    <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                    <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                            class="ico ion-ios-star"></span><small>(100)</small></p>
                </div>
                <div class="product-card"><img src="img-4.PNG" />
                    <span class="subheading">Theater</span>
                    <h3><a href="#">Maxout Fitness Gym</a></h3>
                    <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                    <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                    <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                            class="ico ion-ios-star"></span><small>(100)</small></p>
                </div>
            </div>

        </div>
    </section>
    <section class="sect-4-page">
        <div class="contentbox-sect4-pg">

            <div class="imgdiv"><img src="img-5.PNG" /></div>
            <div class="contdiv">
                <div class="fontdiv">
                    <div style="text-transform:capitalize;">Special Offers</div>
                    <h2>We Have Special Offers Every Now and Then</h2>
                </div>
                <div class="pbtn">
                    <p><a href="#">Show Special Offers</a></p>
                </div>
            </div>

        </div>
    </section>
    <section class="sect-5-page">
        <div class="contain-3">
            <div class="jsty-cont-center2">
                <div class="heading-section ">
                    <p style="text-align: center;">Our Listing</p>
                    <h1 style="font-size: 40px;">Popular Listing</h1>
                </div>
            </div>

            <div class="contentbox-sect5-pg">
                <div class="order1-sect">
                    <div class="product-card"><img src="phto-1.PNG" />
                        <span class="subheading">Beauty</span>
                        <h3><a href="#">Japanese Restaurant</a></h3>
                        <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                        <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                        <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                                class="ico ion-ios-star"></span><small>(100)</small></p>
                    </div>
                    <div class="product-card"><img src="phto-2.PNG" />
                        <span class="subheading">Bar &amp; Club</span>
                        <h3><a href="#">Harbor Lights Hotel</a></h3>
                        <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                        <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                        <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                                class="ico ion-ios-star"></span><small>(100)</small></p>
                    </div>
                    <div class="product-card"><img src="phto-3.PNG" />

                        <span class="subheading">Circus</span>
                        <h3><a href="#">MS Center Mall of Asia</a></h3>
                        <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                        <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                        <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                                class="ico ion-ios-star"></span><small>(100)</small></p>
                    </div>
                    <div class="product-card"><img src="phto-4.PNG" />
                        <span class="subheading">Theater</span>
                        <h3><a href="#">Maxout Fitness Gym</a></h3>
                        <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                        <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                        <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                                class="ico ion-ios-star"></span><small>(100)</small></p>
                    </div>
                </div>
                <div class="order1-sect">
                    <div class="product-card"><img src="phto-5.PNG" />
                        <span class="subheading">Beauty</span>
                        <h3><a href="#">Japanese Restaurant</a></h3>
                        <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                        <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                        <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                                class="ico ion-ios-star"></span><small>(100)</small></p>
                    </div>
                    <div class="product-card"><img src="phto-6.PNG" />
                        <span class="subheading">Bar &amp; Club</span>
                        <h3><a href="#">Harbor Lights Hotel</a></h3>
                        <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                        <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                        <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                                class="ico ion-ios-star"></span><small>(100)</small></p>
                    </div>
                    <div class="product-card"><img src="phto-7.PNG" />

                        <span class="subheading">Circus</span>
                        <h3><a href="#">MS Center Mall of Asia</a></h3>
                        <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                        <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                        <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                                class="ico ion-ios-star"></span><small>(100)</small></p>
                    </div>
                    <div class="product-card"><img src="phto-8.PNG" />
                        <span class="subheading">Theater</span>
                        <h3><a href="#">Maxout Fitness Gym</a></h3>
                        <p><span class="ion-ios-pin"></span> Suite 721 New York NY 10016</p>
                        <p><span class="fa fa-phone"></span> +00 123 456 7890</p>
                        <p class="review"><span class="rev">Review <small>5.0/5</small></span> <span
                                class="ico ion-ios-star"></span><small>(100)</small></p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="sect-6-page">
        <div class="sect-containbox6">
            <div class="pyramidsect">
                <img src="pyramid.PNG" />
            </div>
            <div class="subsect-cntBox">
                <div class="flexbxsect1"> <span class="subheading">Welcome to Directone</span></div>
                <div class="flexbxsect2">
                    <h2 class="mb-4">Directone A Directory &amp; Listing</h2>
                </div>
                <div class="flexbxsect3">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there
                        live the blind texts.
                        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                        language ocean.</p><br>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                        is a
                        paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
                <div class="splitrowsect">
                    <div class="boxcont1">
                        <h2>50</h2>
                        <p>Years of Experienced</p>
                    </div>
                    <div class="boxcont2">

                        <h2>210k+</h2>
                        <p>Total Listing</p>
                    </div>
                    <div class="boxcont3">
                        <h2>450</h2>
                        <p>Company Staf</p>
                    </div>
                    <div class="boxcont4">
                        <h2>100</h2>
                        <p>Happy People</p>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <section class="sect-page7">
        <div class="sect7-containbox7">
            <div class="jsty-cont-cent7">
                <div class="heading-section ">
                    <span class="subheading">Testimonial</span>
                    <h2 class="mb-3">Happy People</h2>
                </div>
            </div>
            <div class="slide-flx-box">
                <div class="slideshow-container">
                    <div class="mySlides1">
                        <div class="comaRound">"</div>
                        <div>
                            <br> <br> <br>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia
                                and Consonantia, there live the blind texts.</p>
                        </div>
                        <div class=" ">
                            <div><img src="face3.PNG" /></div>
                            <p>Roger Scott</p>
                            <span>Marketing Manager</span>
                        </div> <br> <br>
                    </div>
                    <div class="mySlides2">
                        <div class="comaRound1">"</div>
                        <div>
                            <br> <br> <br>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia
                                and Consonantia, there live the blind texts.</p>
                        </div>
                        <div class=" ">
                            <div><img src="face2.PNG" /></div>
                            <p>Roger Scott</p>
                            <span>Marketing Manager</span>
                        </div> <br> <br>
                    </div>
                    <div class="mySlides3">
                        <div class="comaRound2">"</div>
                        <div>
                            <br> <br> <br>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia
                                and Consonantia, there live the blind texts.</p>
                        </div>
                        <div class=" ">
                            <div><img src="face1.PNG" /></div>
                            <p>Roger Scott</p>
                            <span>Marketing Manager</span>
                        </div> <br> <br>
                    </div>
                </div>

            </div>
            <br>
            <div style="text-align:center">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </section>
    <section class="sect-page8">
        <div class="hero-image">
            <div class="hero-text">
                <h6 style="color: red;">LET'S FIND OUT</h6>
                <h1>How It Works</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="vid-img-flex" style="background-image: url(amsterdam.jpg);width: 50%;height: 20%;">
                <a href="https://vimeo.com/115041822"
                    class="icon-video glightbox d-flex align-items-center justify-content-center">
                    <span class="ion-ios-play"></span>VIDEO
                </a>
            </div>
        </div>
        <div class="">


        </div>
    </section>

    <script>
        let slideIndex = 0;
        showSlides();

        function showSlides() {
            let i;
            let slides = document.getElementsByClassName("mySlides");
            let dots = document.getElementsByClassName("dot");
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > slides.length) { slideIndex = 1 }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            setTimeout(showSlides, 2000); // Change image every 2 seconds
        }
    </script>
</body>

</html>