* {
    margin: 0;
    padding: 0;
    /* background-color: blue; */
}

#txtplaceholder {
    display: flex;
    align-items: center;
    font-size: larger;
}
#txtplaceholdermodal{
    font-size: larger;

}

