.div {
  background-image: url("cat1.jpg");
  background-color: red;
  display: inline-block;
  height: 400px;
  width: 500px;
}
.span {
 
  background-color: antiquewhite;
  display: inline-block;
  height: 400px;
  width: 500px;
}
#a1 {
  background-color: blueviolet;
  display: inline-block;
  height: 400px;
  width: 500px;
}
